<!-- <div class="container">
  <h2>My Portfolio</h2>
  <br />
  <% if current_photographer %>
    <%= link_to "Add new Album", new_album_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Book now!", new_order_path(:photographer => params[:photographer], :category => params[:category]), class: "btn btn-primary" %>
  <% end %>
  <%# if current_photographer != params[:photographer] || !current_photographer %>
  <% if !is_bookmarked?(params[:photographer]) %>
    <%= link_to "Add to favorite", bookmarks_path(:photographer => params[:photographer]), method: "post", class: "btn btn-warning" %>
  <% end %>
  <hr />
  <% @albums.each do |album| %>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">
          <%= link_to album.name, album_path(album) %>
        </h4>
        <p class="card-text"><%= album.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <% album.images.each do |image| %>
          <li class="list-group-item"><%= image.url %></li>
        <% end %>
      </ul>
      <div class="card-block">
        <%= link_to "Update", edit_album_path(album), class: "card-link" %>
        <%= link_to "Delete", album_path(album), method: "delete", class: "card-link" %>
        <% if !is_published?(album) %>
          <%= link_to "Publish", album_publish_path(:id => album), method: "post", class: "card-link" %>
        <% end %>
      </div>
    </div>
    <hr />
  <% end %>

</div> -->

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- <link href="app/assets/stylesheets/template/studio-datepicker3.css" rel="stylesheet">
<link href="app/assets/stylesheets/template/studio-styles.css" rel="stylesheet"> -->
<div class="studio-theme-wrapper">
  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <!-- <form role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form> -->
    <ul class="nav menu">
      <br />
      <li class="<%= 'active' if request.path == bookings_path %>">
        <%= link_to bookings_path do %>
          <span class="glyphicon glyphicon-shopping-cart"></span> Booking
        <% end %>
      </li>
      <li class="<%= 'active' if request.path == portfolios_path %>">
        <%= link_to portfolios_path do %>
          <span class="glyphicon glyphicon-picture"></span> Portfolio
        <% end %>
      </li>
      <li class="<%= 'active' if request.path == policies_path %>">
        <%= link_to policies_path do %>
          <span class="glyphicon glyphicon-euro"></span> Policies
        <% end %>
      </li>

      <!-- <li role="presentation" class="divider"></li>
      <li><a href="login.html"><span class="glyphicon glyphicon-user"></span> Logout</a></li> -->
    </ul>
  </div><!--/.sidebar-->


  <div class="col-sm-9 offset-sm-2 col-lg-10 offset-lg-2 main">


    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Portfolio</h1>
      </div>
    </div><!--/.row-->

    

    </div><!--/.row-->
  </div>	<!--/.main-->
</div>
