<div class="container">
  <!-- <li class="nav-item <%= 'active' if request.path == new_user_session_path %>">
    <%= link_to "Facebook", '/auth/facebook', class: 'nav-link'%>
  </li>
  <li class="nav-item <%= 'active' if request.path == new_user_session_path %>">
    <%= link_to "Twitter", 'auth/twitter', class: 'nav-link'%>
  </li> -->

  <% if @authentications %>
   <% unless @authentications.empty? %>
    <p><strong>You can sign in to this account using:</strong></p>
     <div class="authentications">
      <% for authentication in @authentications %>
       <div class="authentication">
        <%= image_tag "#{authentication.provider}_32.png",
        :size => "32x32" %>
        <div class="provider"><%= authentication.provider.titleize %></div>
        <div class="uid"><%= authentication.uid %></div>
         <%= link_to "X", authentication, :confirm =>
        'Are you sure you want to remove this authentication
        option?', :method => :delete %>
       </div>
       <% end %>
       <div class="clear"></div>
      </div>
     <% end %>
     <p><strong>Add another service to sign in with:</strong></p>
    <% else %>
    <p><strong>Sign in through one of these services:</strong></p>
  <% end %>

  <a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64",
    :alt => "Twitter" %>Twitter</a>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_64.png", :size => "64x64",
    :alt => "Facebook" %>Facebook</a>
  <a href="/auth/google_oauth2" class="auth_provider">
    <%= image_tag "google_64.png", :size => "64x64",
    :alt => "Google" %>Google</a>
  <div class="clear"></div>
</div>
