<!-- Video Background -->
<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div class="page-height" style="height: 703px; min-height: 703px; position: relative;">
      <div class="full-size video-wrapper">
        <%= video_tag("home_video.mp4", autoplay: true, loop: true, muted: true) %>
      </div>
      <div class="full-size-banner-entry full-size valign-middle">
        <div class="valign-text-wrapper text-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="h2 light"><%= image_tag('logo.png') %><b>ICKAGRAPHER</b></div>
              <div class="empty-space col-xs-b15"></div>
              <div class="banner-max-width">
                <div class="simple-article large light transparent">Your moments, captured!</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top: 80px; position: absolute; bottom: 2vw; width: 90%; margin-left: 5%;">
        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'search' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modesto-theme-wrapper">
  <div class="fonts-7 loaded">
    <div id="content-block">
      <div class="container">
        <div class="empty-space col-xs-b55 col-sm-b70"></div>
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center" style="margin-left: 18%">
            <div class="h4"><b style="color: #EEE">CHECKOUT A CATEGORY</b></div>
          </div>
        </div>
        <div class="empty-space col-xs-b55 col-sm-b70"></div>
      </div>
    </div>
  </div>
</div>

<!-- Category Images -->
<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div id="content-block">
      <div class="wide-container-fluid">
        <div class="row">
          <%= render partial: 'category_img_link', locals: { category_name: 'WEDDING', image_name: 'SoiPhotography-NganKhoa-fineart29.jpg' , cat_link: albums_path } %>
          <%= render partial: 'category_img_link', locals: { category_name: 'FASHION', image_name: '6601122829_0bbab0196f_o.jpg', cat_link: albums_path } %>
        </div>
        <div class="row">
          <%= render partial: 'category_img_link', locals: { category_name: 'INTERIOR', image_name: 'I006_interior_living.jpg', cat_link: albums_path } %>
          <%= render partial: 'category_img_link', locals: { category_name: 'FOOD', image_name: 'F059_food_shot_ham_burger.jpg', cat_link: albums_path } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Js -->
<script>
 $(function(){
   $('.poster-3d').parallax({
     shadow: true,
     shine: false
   });
 });
</script>
