<!-- Video Background -->
<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div class="page-height" style="height: 703px; min-height: 703px;">
      <div class="full-size video-wrapper">
        <%= video_tag("home_video.mp4", autoplay: true, loop: true, muted: true) %>
      </div>
      <div class="full-size-banner-entry full-size valign-middle">
        <div class="valign-text-wrapper text-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="h2 light"><b>PICKAGRAPHER</b></div>
              <div class="empty-space col-xs-b15"></div>
              <div class="banner-max-width">
                <div class="simple-article large light transparent">Your moments, captured!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-button style-3 light hidden-xs"></div>
    </div>
  </div>
</div>

<div class="modesto-theme-wrapper">
  <div class="fonts-7 loaded">
    <div id="content-block">
      <div class="container">
        <div class="empty-space col-xs-b55 col-sm-b70"></div>
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center" style="margin-left: 18%">
            <div class="h4"><b style="color: #EEE">PICK A PHOTOGRAPHER FOR</b></div>
          </div>
        </div>
        <div class="empty-space col-xs-b55 col-sm-b70"></div>
      </div>
    </div>
  </div>
</div>

<!-- Category Images -->
<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div id="content-block">
      <div class="wide-container-fluid">
        <div class="row">
          <%= render partial: 'category_img_link', locals: { category_name: 'WEDDING', image_name: 'image01.jpg' } %>
          <%= render partial: 'category_img_link', locals: { category_name: 'INTERIOR', image_name: 'image43.jpg' } %>
        </div>
        <div class="row">
          <%= render partial: 'category_img_link', locals: { category_name: 'PORTRAIT', image_name: 'image11.jpg' } %>
          <%= render partial: 'category_img_link', locals: { category_name: 'PRODUCTS', image_name: 'image43.jpg' } %>
        </div>
      </div>
    </div>
  </div>
</div>
