<div class="container">
  <h1>Create new order</h1>
  <br />
  <div class="form">
    <%= form_for Order.new do |f| %>
    <div class="form-group">
      <%= f.label :starts_date %>
      <%= f.date_field :starts_date, :order => [:day, :month, :year] %>
    </div>
    <div class="form-group">
      <%= f.label :ends_date %>
      <%= f.date_field :ends_date, :order => [:day, :month, :year] %>
    </div>
    <div class="form-group">
      <%= f.label :location_id %>
      <%= f.select :location_id, Location.all.collect { |location| [location.name, location.id]}, prompt: "Select a location" %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :photographer_id, :value => params[:photographer] %>
      <%= f.hidden_field :category_id, :value => params[:category] %>
    </div>
    <div class="form-group">
      <%= f.submit "Create", class: "btn btn-success" %>
      <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
