<script type="text/javascript">
  pickmeup('.pickagrapher-date');
</script>

<div class="stamford-theme-wrapper under-nav-bar">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-8" style="background-color: #151517; padding: 24px 20px 20px 20px;">
        <%= image_tag(current_user.image_url ? current_user.image_url : current_user.profile_image, class: 'logo nav-item round-image-90') %>
        <span style="padding-left: 10px;">
          <h2 style="display: inline-block; color: #FFF;">Tang Tang</h2>
        </span>
        <div style="text-align: justify; padding-top: 14px; color: #AAA;">
          All photographs are memento mori. To take a photograph is to participate in another person’s (or thing’s) mortality, vulnerability, mutability. Precisely by slicing out this moment and freezing it, all photographs testify to time’s relentless melt.
          <br><br>
          Fee: <span style="color: #FFF;">đ20,000,000</span> / <span style="color: #FFF;">day</span><br>
          Travel charge: <span style="color: #FFF;">đ2,000,000</span> / <span style="color: #FFF;">day</span><br>
          Not include hotel – meals – travel fee. Free in cancellation<span style="color: #E4C35C;">*</span>.
          <br><br>
          <i style="color: #E4C35C;">(*) Available to cancel before 3 days</i>
        </div>
      </div>
      <div class="col-md-4" style="padding-left: 52px; position: fixed; right: 5vw; color: #DDD; font-family: Montserrat;">
        <!-- <div class="affix" style="height: 70vh; background-color: #151517; position: relative; padding: 10px 18px 0 18px;"> -->
          <%= render partial: "payment" %>
          <!-- <%= form_for Order.new do |f| %>
            <%= f.hidden_field :photographer_id, :value => params[:photographer] %>
            <%= f.hidden_field :category_id, :value => params[:category] %>

            <table style="width: 100%;">
              <tr>
                <td>Start Date:</td>
                <td>
                  <div style="width: 100%;" align="right">
                    <%= f.date_field :starts_date, :order => [:day, :month, :year] %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>End Date:</td>
                <td>
                  <div style="width: 100%;" align="right">
                    <%= f.date_field :ends_date, :order => [:day, :month, :year] %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Where to take:</td>
                <td class="order-right-align"><%= f.select :location_id, Location.all.collect { |location| [location.name, location.id] }, prompt: "Select a location" %></td>
              </tr>
              <tr>
                <td>Category:</td>
                <td class="order-right-align"></td>
              </tr>
              <tr>
                <td>Duration:</td>
                <td class="order-right-align"></td>
              </tr>
              <tr>
                <td>Travel charge:</td>
                <td class="order-right-align"></td>
              </tr>
            </table>

            <hr>

            <table>
              <tr>
                <td>Total:</td>
                <td class="order-right-align"></td>
              </tr>
              <tr>
                <td>*Included tax</td>
              </tr>
            </table>

            <button type="button" style="position: absolute; bottom: 0px; left: 0px; width: 100%; font-family: Montserrat; border-radius: 0; height: 40px;" class="btn btn-danger">BOOK
              NOW
            </button>
          <% end %> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
