<script type="text/javascript">
 pickmeup('.pickagrapher-date');
</script>

<div class="stamford-theme-wrapper under-nav-bar">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-8">
        <div style="background-color: #151517; padding: 24px 20px 20px 20px;">
          <div style="position: relative;">
            <%= image_tag(current_user.image_url ? current_user.image_url : current_user.profile_image, class: 'logo nav-item round-image-90') %>
            <span style="padding-left: 10px;">
              <h2 style="display: inline-block; color: #FFF;">Tang Tang</h2>
            </span>

            <span style="position: absolute; right: 0; top: 24px;">
              <ul class="tg-list" style="display: inline;">
                <li class="tg-list-item" style="display: inline; padding: 0; margin: 0;">
                  <input id="cb5" type="checkbox" class="tgl tgl-flip"/>
                  <label data-tg-off="Nope" data-tg-on="Yeah!" for="cb5" class="tgl-btn"></label>
                </li>
              </ul>
            </span>

            <span style="position: absolute; right: 100px;; top: 24px;">
              <%= render partial: 'rating' %>
            </span>
          </div>
          <div style="text-align: justify; padding-top: 14px; color: #AAA;">
            All photographs are memento mori. To take a photograph is to participate in another person’s (or thing’s) mortality, vulnerability, mutability. Precisely by slicing out this moment and freezing it, all photographs testify to time’s relentless melt.
            <br><br>
            Fee: <span style="color: #FFF;">đ20,000,000</span> / <span style="color: #FFF;">day</span><br>
            Travel charge: <span style="color: #FFF;">đ2,000,000</span> / <span style="color: #FFF;">day</span><br>
            Not include hotel – meals – travel fee. Free in cancellation<span style="color: #E4C35C;">*</span>.
            <br><br>
            <i style="color: #E4C35C;">(*) Available to cancel before 3 days</i>
          </div>
        </div>
        <div style="margin-top: 11px; font-size: 14px;">
          <%= render partial: 'comment', locals: { user_name: 'ThaoMai', user_content: 'The best photographer - ever!' } %>
          <%= render partial: 'comment', locals: { user_name: 'Khanh Le', user_content: 'Reliable & nice photographer. Will do business again!' } %>
          <%= render partial: 'comment', locals: { user_name: 'LilyLinh', user_content: 'Good bang for the buck.' } %>
          <%= render partial: 'comment', locals: { user_name: 'Huy.Pham', user_content: '+1' } %>
          <%= render partial: 'comment', locals: { user_name: 'Mimi', user_content: 'Vote up!' } %>
          <%= render partial: 'comment', locals: { user_name: 'ThaoMai', user_content: 'Keep up your good work!' } %>
        </div>
      </div>

      <div class="col-md-4" style="padding-left: 52px; position: fixed; right: 5vw; color: #DDD; font-family: Montserrat;">
        <%= render partial: "payment" %>
      </div>

      <div class="col-md-4 chat-wrapper" style="padding-left: 52px; position: fixed; right: 5vw; bottom: 0vw;">
        <div class="chat__human">
          <%= image_tag(current_user.image_url ? current_user.image_url : current_user.profile_image, class: 'chat__avatar') %>
          <span class="chat__name">Tang Tang</span>
        </div>
      </div>

      <div class="col-md-4 chat-wrapper" style="padding-left: 52px; position: fixed; right: 5vw; bottom: 0vw;">
        <div class="conversation" style="display: block; width: calc(100% - 52px); right: 0px; height: auto;">
          <div class="conversation__header" style="margin-bottom: 0;">
            <b style="color: #FFF;">Tang Tang</b>
          </div>
          <div style="height: 400px; overflow-y: scroll;" id="chat-msg-content">
            <ul class="conversation__wrap">
              <!-- <li class="conversation__msg cf">
                   <span>Hey!</span>
                   </li> -->

              <!-- <li class="conversation__msg cf">
                   <span class="right">Bruh.</span>
                   </li> -->
            </ul>
          </div>

          <input class="input" type="text" placeholder="Enter Message" id="chat-message-field" style="position: static;">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 function filter_forbidden_pattern(x) {
   return Array(x.length).join("█");
 }

 $("#chat-message-field").keypress(function (e) {
   var key = e.which;
   if (key == 13) {
     var emailPattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
     var phoneNoPattern = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

     var someText = $('#chat-message-field').val();
     var patterns = [emailPattern, phoneNoPattern];
     patterns.forEach(function (pattern) {
       someText = someText.replace(pattern, filter_forbidden_pattern);
     });

     $('#chat-message-field').val('')
     var newDiv = $("<li>", { "class": "conversation__msg cf" }).append($("<span>", { "class": "right" }).append(someText));
     $("ul.conversation__wrap").append(newDiv);
   }
 });

 $('.js-trigger').on('click', function() {
   $('html').toggleClass('show-me')
 });

 $('.conversation__header').on('click', function() {
   $('.conversation').slideToggle(300);
 });

 $('.chat__human').on('click', function() {
   $('.conversation').slideToggle(300);
 });
</script>

<style>
 #chat-msg-content::-webkit-scrollbar {
   display: none;
 }
</style>
