<div class="stamford-theme-wrapper">
  <div id="wrap">
    <div class="content-wrapper">
      <div id="content">
        <div class="container clearfix">
          <div id="container" class="clearfix" style="position: relative; height: 600px;">
            <div class="element clearfix col1-3 home about" style="position: absolute; left: 0px; top: 506px;">
              <div class="images bottom"><%= image_tag('image11') %></div>
              <div class="white white-top">
                <h2>About Me</h2>
                <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio gravida auctor velno.</p>
              </div>
            </div>
            <div class="element clearfix col1-3 home portfolio germany" style="position: absolute; left: 380px; top: 506px;">
              <div class="images">
                <%= image_tag('image01') %>
              </div>
            </div>
            <div class="element clearfix col1-3 home portfolio germany" style="position: absolute; left: 760px; top: 506px;">
              <div class="images">
                <%= image_tag('image01') %>
              </div>
            </div>
          </div>

          <div id="container" class="clearfix" style="position: relative; height: 600px;">
            <div class="element blog-teaser clearfix col1-3 home contact" style="position: absolute; left: 0px; top: 1518px;">
              <div class="images"><%= image_tag('image11') %></div>
              <div class="white white-bottom">
                <h2>Contact Me</h2>
                <p>285 Lexington Ave<br>
                  New York, NY</p>
                <p> Email: <a href="#" title="">hello@stamford.com</a><br>
                  Phone: (845) 123-4567</p>
              </div>
            </div>
            <div class="element clearfix col2-3 home about" style="position: absolute; left: 380px; top: 1518px;">
              <a href="http://player.vimeo.com/video/98330466?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff=0&amp;autoplay=1" class="video-popup" data-title="Our Reel">
                <div class="images">
                  <%= image_tag('image11') %>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
