<div class="stamford-theme-wrapper under-nav-bar">
  <div id="wrap">
    <div class="content-wrapper">
      <div class="container clearfix">
        <% @albums.in_groups_of(3) do |album_short_list| %>

        <% @album = album_short_list.first unless album_short_list.first == nil? %>
        <div class="row">
          <div class="image col-md-4 album-thumb" style="background-image: url(<%= @album.images.first.url_url(:medium) %>)">
            <div class="white white-bottom">
              <h2><a href="<%= album_path(@album) %>" style="color: #2B2B2B;"><%= @album.name %></a></h2>
              <p><%= @album.description %></p>
              <p class="album-list-photographer-name"><%= @album.portfolio.photographer.name %></p>
            </div>
          </div>
          <div class="image col-md-8 album-thumb" style="background-image: url(<%= @album.images.second.url_url(:medium) %>)"></div>
        </div>

        <% @album = album_short_list.second unless album_short_list.second == nil? %>
        <div class="row" style="margin-top: 80px;">
          <div class="image col-md-4 album-thumb" style="background-image: url(<%= @album.images.first.url_url(:medium) %>)">
            <div class="white white-bottom" style="background-color: rgba(255,255,255,0.6);">
              <h2><a href="<%= album_path(@album) %>" style="color: #2B2B2B;"><%= @album.name %></a></h2>
              <p><%= @album.description %></p>
              <p class="album-list-photographer-name"><%= @album.portfolio.photographer.name %></p>
            </div>
          </div>
          <div class="image col-md-4 album-thumb" style="background-image: url(<%= @album.images.second.url_url(:medium) %>)"></div>
          <div class="image col-md-4 album-thumb" style="background-image: url(<%= @album.images.third.url_url(:medium) %>)"></div>
        </div>

        <% @album = album_short_list.third unless album_short_list.third == nil? %>
        <div class="row" style="margin-top: 80px;">
          <div class="image col-md-4 album-thumb" style="background-image: url(<%= @album.images.first.url_url(:medium) %>)">
            <div class="white white-top">
              <h2><a href="<%= album_path(@album) %>" style="color: #2B2B2B;"><%= @album.name %></a></h2>
              <p><%= @album.description %></p>
              <p class="album-list-photographer-name"><%= @album.portfolio.photographer.name %></p>
            </div>
          </div>
          <div class="image col-md-4 album-thumb-half" style="background-image: url(<%= @album.images.second.url_url(:medium) %>)"></div>
          <div class="image col-md-4 album-thumb-half" style="background-image: url(<%= @album.images.third.url_url(:medium) %>)"></div>
          <div class="image col-md-4 album-thumb-half" style="background-image: url(<%= @album.images.fourth.url_url(:medium) %>)"></div>
          <div class="image col-md-4 album-thumb-half" style="background-image: url(<%= @album.images.fifth.url_url(:medium) %>)"></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
