<div class="modesto-theme-wrapper">
  <div class="fonts-8 loaded">
    <div id="content-block">
      <header class="type-4 fixed light scrolled">
        <div class="wide-container-fluid">
          <div class="row">
            <div class="col-xs-6 col-sm-2">
              <%= link_to image_tag('logo'), root_path, class: "logo" %>
            </div>
            <div class="col-xs-6 col-sm-10 text-right">
              <div class="navigation-wrapper">
                <div class="navigation-overflow">
                  <nav class="text-left clearfix">
                    <ul>
                      <% if user_signed_in? %>
                        <% if is_photographer? %>
                          <li class="<%= 'active' if request.path == studios_path %>">
                            <%= link_to "My Studio", studios_path %>
                          </li>
                        <% else %>
                          <li>
                            <%= link_to 'Be a Photographer', new_photographer_path %>
                          </li>
                        <% end %>
                        <li>
                          <%= image_tag(current_user.image_url ? current_user.image_url : current_user.profile_image, class: 'logo nav-item round-image-50') %>
                          <ul>
                            <li><%= link_to "My Account", edit_user_registration_path %></li>
                            <li><%= link_to "My booking", orders_path %></li>
                            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                          </ul>
                        </li>
                      <% else %>
                        <li class="<%= 'active' if request.path == new_user_session_path %>">
                          <%= link_to 'Sign In', new_user_session_path %>
                        </li>
                      <% end %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
