<!DOCTYPE html>
<html>
  <head>
    <title>Pickagrapher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag     params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  params[:controller] %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-dark bg-info">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <!-- <a class="navbar-brand" href="#">Responsive navbar</a> -->
          <ul class="nav navbar-nav">
              <li class="nav-item <%= 'active' if request.path == root_path %>">
                <%= link_to "Home", root_path, class: 'nav-link'%>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item <%= 'active' if request.path == destroy_user_session_path %>">
                  <%= link_to "#{current_user.name}. Logout", destroy_user_session_path, method: "delete", class: 'nav-link'%>
                </li>

                <% if is_photographer? %>
                  <li class="nav-item <%= 'active' if request.path == stores_path %>">
                    <%= link_to "Manage Store", stores_path, class: 'nav-link'%>
                  </li>
                <% else %>
                  <li class="nav-item <%= 'active' if request.path == new_photographer_path %>">
                    <%= link_to "Be a Photographer!", new_photographer_path, class: 'nav-link'%>
                  </li>
                <% end %>
                <li class="nav-item <%= 'active' if request.path == orders_path %>">
                  <%= link_to "My booking", orders_path, class: 'nav-link'%>
                </li>
              <% else %>
                <li class="nav-item <%= 'active' if request.path == new_user_session_path %>">
                  <%= link_to "Login", new_user_session_path, class: 'nav-link'%>
                </li>
              <% end %>

            </ul>
            <!-- <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </div>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
